
html {
    scroll-behavior: smooth;
}

body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("assets/cv-background.png");
    font-family: "Roboto", sans-serif;
    min-height: 165vh ;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}



main {

}

* {
    box-sizing: border-box;
  }

