
html {
    scroll-behavior: smooth;
}

body {
    background-image: url("assets/cv-background.png");
    background-size:auto; /* или contain */
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: scroll; /* или scroll */
    font-family: "Roboto", sans-serif;
    min-height: 165vh;
    max-width: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
    overflow-x: hidden; /* Запрет горизонтального скролла */
}

.first-window-title {
    position: relative;
    top: 13ex;
    left: 10ex;
}

.second-window-title {
    position: relative;
    top: 69ex;
    left: 10ex;
}


.name-image-and-desc {
    position: relative;
    top: 20ex;
    left: 10ex;
}

.name {
    position: relative;
    left: 22ex;
    bottom: 15ex;
    font-size: 42px;
}
.job {
    font-size: 38px;
    position: relative;
    left: 26ex;
    bottom: 18ex;
}

.profile-image {
position: relative;
top: 10ex;
left: 1ex;
}

.about {
    position: relative;
    left: 44ex;
    bottom: 30ex;
    font-size: 24px;
}

.about-text {
    position: relative;
    max-width: 45ex;
    font-size: 24px;
    left: 25ex;
    bottom: 30ex;
}

.hobbies {
    position: relative;
    left: 10ex;
    bottom: 15ex;
    font-size: 24px;
}

.aside {
    position: relative;
    bottom: 77ex;
    left: 30ex;
    font-size: 24px;
}

.links-number {
    position: relative;
    top:  6ex;
    left: 5ex;
}

.links-github {
    position: relative;
    top: 2ex;
    right: 18ex;
}

.links-Address {
    position: relative;
    top:57ex;
    right: 18ex;
}

.links-telegram {
    position: relative;
    top:53ex;
    left: 5ex;   
}

@media (max-width: 768px) {
    .aside {
        flex-direction: column;
        align-items: center;
    }
    
    .aside-number, .aside-github {
        margin: 10px 0;
    }
}


.second-window {
    max-width: 25ex;
    font-size: 28px;
    position: relative;
    left: 10ex;
    top: 10ex;
}

.skills {
 position: relative;
 top: 3ex;
}

.code-example {
position: relative;
top: 5ex;
}

.courses  {
    position: relative;
    left: 30ex;
    bottom: 25ex;
}

.education {
    position: relative;
    left: 30ex;
    bottom: 25ex;
}

.english {
    position: relative;
    left: 20ex;
}

main {

}

* {
    box-sizing: border-box;
  }

