
body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh ;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    max-width: 1000px;   
}

img[src="cv/assets/photo_5240331272373531614_y.jpg"] {
    margin-left: 100px;
    margin-top: 50px;
    width: 200px;        
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
main {
    display: flex;
    flex-direction: row;
}

.title {
    min-height: 300px;
    min-width: 1000px;
    margin-top: 0px;
    padding: 0;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.info {
    margin-left: 150px;
    margin-top: 100px;
}

.left-info {
    min-width: 400px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.right-info {
    min-width: 600px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

